*{
    background-color: rgb(211,211,211);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

ul, ol{
    list-style: none;
    padding-bottom: 2%;
}

li{
    padding-bottom: .5%;
}


.creme-img{
    height: auto;
    width: 400px;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: lightslategray;
}

a:hover{
    color: whitesmoke;
}
